[submodule "external/logger"]
	path = external/logger
	url = https://github.com/josephnglynn/logger

[submodule "external/shell-base"]
	path = external/shell-base
	url = https://github.com/FlowSpatialOs/shell-base
